body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  background-image: url('https://cutewallpaper.org/21/starwars-backgrounds/Star-Wars-Space-Background-69-images.jpg');
  background-size: 190%;
  background-position-x: 60%;
}
